[submodule "onnxruntime"]
	path = onnxruntime
	url = https://github.com/microsoft/onnxruntime
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest.git
